<tr>
  <td><%= loan.value  %></td>
  <td><%= loan.paid_text  %></td>
  <td>
    <% if !loan.paid %>
      <%= button_to "Pagar!", pay_loan_path(loan.id),
        class: 'btn btn-success btn-sm' %>
    <% end %>
  </td>
</tr>
