<ul class="nav nav-tabs">
<li class="active"><a aria-expanded="true" href="#loan" data-toggle="tab">Empréstimo</a> </li>
<li class=""><a aria-expanded="false" href="#situation" data-toggle="tab">Sua situação</a> </li>
</ul>
<div id="myTabContent" class="tab-content">
  <%= render "loans/loan_panel" %>
  <%= render "loans/loan_situation" %>
</div>
